body
{
	background-image: url(black.jpg);
}
.title
{
	text-align: center;
	color: brown;
	font-size: 40px;
}
.for
{
	width: 60%;
    height: 550px;
    background: url(penbg.jpg);
    background-size: cover;
    border: 2px solid #fff;
    float: center;
    margin-left: 22%;
    margin-top: 5%; 
    
}
.refer
{
	width: 60%;
	height: 200;
	margin-left: 40%;
	margin-top: 5%;
}